<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="test" class="com.sbrf.reboot.spring.example.xmlconfig.TestClassPathXml">
        <property name="msg" value="Daft Punk - Giorgio by Moroder"/>
    </bean>
    <bean id="client" class="com.sbrf.reboot.spring.example.xmlconfig.ClientXmlConfig">
        <property name="msg" value="My name is Giovanni Giorgio."/>
    </bean>
    <bean id="account" class="com.sbrf.reboot.spring.example.xmlconfig.AccountXmlConfig">
        <property name="msg" value="But everybody calls me Giorgio."/>
    </bean>
</beans>